<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"> Branch: {{getCookie('branch')}} Semester: {{getCookie('semester')}} </h4>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course</th>
          <th>Type</th>
          <th>Credits</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="goToLink(course)" ng-repeat="course in courses | filter: {branch: getCookie('branch'), semester: getCookie('semester') }">
          <td>{{course.name}}</td>
          <td>{{course.type}}</td>
          <td>{{course.credits}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button class="btn btn-info" ng-click="addCourse()">Add Course</button>
