<div class="jumbotron">
  <h1 class="header-name">studyHack</h1>
  <p class="lead">
    <!-- <img src="images/logo.png" style="height:200px" alt="studyHack"><br> -->
  </p>
  <!-- <p><a class="btn btn&#45;success" ng&#45;href="#/">search!<span class="glyphicon glyphicon&#45;ok"></span></a></p> -->

  <!-- Search Container starts -->
  <div class="container">
    <p> Wanna hack your way into studies? We are there to help! </p>
    <p>
      Stay updated with all available resources for your current semester and focus on more important things in your life.
    </p>
    &nbsp;
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div>
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search books, courses or anything" >
            <span class="input-group-addon">
              <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search container ends -->

<div class="col-md-4">
  <img src="images/study.png" style="height:50px; align: center;"><br>
  <h4>Study</h4>
  <p> Get all the resources at your disposal </p>
</div>

<div class="col-md-4">
  <img src="images/share.png" style="height:50px; align: center;"><br>
  <h4>Share</h4>
  <p> Share resources with your friends </p>
</div>

<div class="col-md-4">
  <img src="images/discuss.png" style="height:50px; align: center;"><br>
  <h4>Discuss</h4>
  <p> Discuss and plan your semester ahead of your time </p>
</div>
